.present {
  background-image: url("../../../img/images/photo/cat-present-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  height: 290px;
  position: relative;
  margin-top: 55px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../img/images/photo/cat-present-mobile-2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 200px;
    background-image: url("../../../img/images/photo/cat-present-tablet.jpg");
    background-size: auto 100%;
    margin-top: 68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/images/photo/cat-present-tablet-2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 290px;
    background-image: url("../../../img/images/photo/cat-present-desktop.jpg");
    background-size: 100% auto;
    margin-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/images/photo/cat-present-desktop-2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparentize($color-basic-green, 0.2);
    z-index: 0;
    top: 0;
    left: 0;
  }
}

.present__info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  height: 100%;
  z-index: 20;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-flow: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-flow: column;
    justify-content: space-between;
  }
}

.present__icon {
  margin: 8px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 9px 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 65px;
  }
}

.present__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  margin: 0 0 -18px;
  text-align: center;
  width: 182px;

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
    margin-right: 105px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: center;
    margin-bottom: 42px;
  }
}
