
.initial-values {
  margin-top: 23px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    grid-column: span 2;
  }
}

.initial-values__item {
  @include form_text;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &:not(:last-of-type) {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }

  span {
    white-space: nowrap;
    margin-right: 13px;

    @media (min-width: $desktop-width) {
      margin-right: 19px;
    }
  }

  input {
    @include form_text;
    @include form_input;
  }
}
