/* Секция Программы */
.program {
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }

  h1 {
    &::after {
      display: none;
    }
  }
}

// Форма
.program-form {
  display: flex;
  flex-direction: column;

  fieldset {
    border: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    width: 100%;
  }

  input::placeholder {
    color: $color-special-dark-grey;
    opacity: 1;
  }

  input:valid:hover {
    border-color: $color-special-grey-7;
  }

  input:valid:focus {
    border-color: $color-special-dark-grey;
    border-width: 2px;
    outline: none;
  }

  input:invalid:not(:placeholder-shown) {
    border-color: $color-red;
    border-width: 2px;
  }
}

.program-form__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }

  fieldset {
    @include gray-line;

    @media (min-width: $desktop-width) {
      width: 50%;
      margin: 0;
    }

    &::after {
      bottom: -23px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.program .subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-right: 40px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-top: 55px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.program-submit {
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    align-items: center;
    margin-top: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
  }
}

.program-submit__button {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin-top: 38px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 45%;
    margin: 0 60px 0 0;
    font-size: 20px;
    padding: 15px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    margin-right: 80px;
    padding: 15px 0;
    width: 570px;
  }
}

.program-submit__required-field {
  font-size: 14px;
  line-height: 16px;
  font-family: $font-secondary;
  margin: 0 auto 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
  }
}
