// colors
$color-basic-green: #68B738;
$color-basic-grey: #F2F2F2;
$color-special-grey: #CDCDCD;
$color-special-grey-2: #666666;
$color-special-dark-grey: #444444;
$color-black: #000000;
$color-white: #ffffff;

// fonts
$font-primary: "Oswald", sans-serif;
$font-secondary: "Arial", sans-serif;
