.main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px;
  position: relative;

  @include gray-line;
}


.basic-products {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 0 25px;
    position: relative;

    @include gray-line;

    &::after {
      bottom: 0;
    }
  }

  &__image {
    display: block;
    justify-self: center;
    align-self: center;
  }

  &__text-wrap {
    align-self: start;
  }

  &__text-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $color-black;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    width: 85px;
  }

  &__desc {
    p {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    span {
      font-family: $font-secondary;
      font-size: 12px;
      line-height: 16px;
      color: $color-special-dark-grey;
    }
  }

  &__button {
    grid-column: span 2;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  &__item--show-more {
    display: flex;
    flex-flow: column;

    h3 {
      color: $color-black;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      margin: 23px 0 0;
    }

    p {
      font-family: $font-secondary;
      font-size: 12px;
      line-height: 16px;
      color: $color-special-dark-grey;
      text-align: center;
      margin: 8px 0 0;
    }
  }
}
