.footer {
  background-color: $color-basic-grey;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    cursor: pointer;
  }

  &__item {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $color-special-grey;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      width: auto;
      margin: 0;
    }
  }

  &__logo-text {
    padding: 39px 0 32px;
  }

  &__social {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a:not(:last-child) {
      margin-right: 35px;

      @media (min-width: $tablet-width) {
        margin-right: 10px;
      }
    }
  }

  &-social__icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $color-special-grey-2;
      width: 100%;
      height: 100%;
    }

    &:hover svg {
      fill: $color-basic-green;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}

.htmlacademy-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  text-decoration: none;

  &__text {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 18px;
    color: $color-special-dark-grey;
    margin-right: 22px;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: auto;
  }
}
