.footer {
  background-color: $color-basic-grey;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  a {
    cursor: pointer;
  }
}

.footer__item {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: $color-special-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }
}

.footer__logo-link {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
  }
}

.footer__logo-text {
  padding: 37px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__social {
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 15px;
  }

  a:not(:last-child) {
    margin-right: 20px;

    @media (min-width: $tablet-width) {
      margin-right: 10px;
    }
  }
}

.footer-social__icon {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: $color-special-grey-2;
  }

  &:hover svg {
    fill: $color-basic-green;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer-social__icon .logo-vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.footer-social__icon .logo-insta {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.footer-social__icon .logo-facebook {
  @media (min-width: $tablet-width) {
    width: 16px;
    height: 30px;
  }
}

.htmlacademy-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: auto;
    padding: 0;
  }

  svg {
    &:hover {
      fill: $color-basic-green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.htmlacademy-link__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
  }

  &:active {
    opacity: 0.3;
  }
}
