.header {
  width: 100%;
  padding: 11px 0 11px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    padding-top: 0;
    background-color: transparent;
    position: absolute;
    z-index: 100;
  }
}

.header--catalog,
.header--form {
  border-bottom: 1px solid $color-special-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo-link {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-cat {
  @media (min-width: $tablet-width) {
    width: 61px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
  }
}

.header__logo-text {
  margin: 0 auto 0 -7px;
  padding: 8px 5px 5px;

  @media (min-width: $tablet-width) {
    margin-left: 1px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 104px;
    height: auto;

    @media (min-width: $desktop-width) {
      width: 120px;
    }
  }
}

