.header {
  width: 100%;
  padding: 11px 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desctop-width) {
    margin-top: 60px;
    background-color: transparent;
    position: absolute;
    z-index: 100;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &--catalog,
  &--form {
    border-bottom: 1px solid $color-special-grey;
  }
}

.logo-link {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-text {
  margin-right: auto;
  padding: 8px 8px 0 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;

  // Кнопка бургер
  &__toggle {
    border: none;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      width: 24px;
      height: 1.5px;
      background-color: $color-black;
      transition: transform 0.2s ease;
    }

    &::before {
      top: 0;
      box-shadow: 0 8px 0 0 $color-black;
    }

    &::after {
      bottom: 0;
    }
  }

  // Список меню
  &__list {
    display: none;


    @media (min-width: $tablet-width) {
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }

    @media (min-width: $desctop-width) {
      width: 45vw;
    }

    &--closed {
      display: none;
    }

    &--opened {
      display: flex;
    }
  }

  &__item {
    margin-left: 36px;
  }

  &__link {

    padding: 8px 0;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      color: $color-black;
      text-transform: uppercase;
      white-space: nowrap;
    }

    @media (min-width: $desctop-width) {
      color: $color-black;
      font-size: 20px;
    }

    &--index {
      @media (min-width: $desctop-width) {
        color: $color-white;

        &:hover {
          color: rgba($color-white, .6);
        }
      }
    }

    &:hover {
      color: rgba($color-black, .6);
    }

    &:active {
      color: rgba($color-black, .3);
    }

    &--active {
      border-bottom: 2px solid $color-basic-green;
    }

    &--index {
      @media (min-width: $desctop-width) {
        color: $color-white;

        &:hover {
          color: rgba($color-white, .6);
        }

        &:active {
          color: rgba($color-white, .3);
        }
      }
    }

    &--index.nav__link--active {
      border-bottom-color: $color-white;
    }

  }

  &--closed .nav__list {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--opened .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $color-white;
    z-index: 500;
  }

  &--opened .nav__item {
    margin: 0;
    padding: 22.5px 15px;
    border-top: 1px solid $color-special-grey-5;
    display: block;
    width: 100%;
  }

  &--opened .nav__item:last-child {
    border-bottom: 1px solid $color-special-grey-5;
  }

  &--opened a {
    display: block;
    text-decoration: none;
    color: $color-black;
    font-weight: bolder;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  // кнопка при закрытой менюшке
  &--opened .nav__toggle::before {
    top: 50%;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--opened .nav__toggle::after {
    top: 50%;
    transform: rotate(-45deg);
  }
}
