.location__wrap {
  display: flex;
  align-items: center;
  padding: 26px 0;

  p {
    margin: 0;
  }
}

.location__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.location__address {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  color: $color-special-dark-grey;
  margin-left: 10px;
}

.location__map {
  position: relative;
}

.location__map-image {
  display: block;
  width: 100%;
  height: auto;
}

.location__map-pin {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
