.promo {
  @media (min-width: $desctop-width) {
    display: flex;
    position: relative;
  }

  &__img {
    position: absolute;
    height: 302px;
    width: 100%;
    background: url("../../img/cat-background.webp") no-repeat top -35px left -120px / 160% auto;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desctop-width) {
      position: static;
      order: 2;
      display: block;
      height: 694px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparentize($color-basic-green, .2);

      @media (min-width: $desctop-width) {

      }
    }
  }

  &__wrapper {
    order: 1;
    display: flex;
    flex-flow: column-reverse;
  }

  &__info {
    position: relative;
    z-index: 10;
    padding-top: 27px;


    @media (min-width: $tablet-width) {
      text-align: left;
      order: 4;
    }

    @media (min-width: $desctop-width) {
      top: 220px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    color: $color-white;
    line-height: 36px;
    text-align: center;
    margin: 0 0 25px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      color: $color-black;
      text-align: left;
    }
  }

  &__slogan {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 20px;

      color: $color-black;
    }
  }

  &__button {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      display: inline-block;
      text-align: left;
      margin: 0;
    }
  }

  &__pack {
    display: block;
    margin: 30px auto 0;
    position: relative;
    z-index: 20;

    @media (min-width: $desctop-width) {
      position: absolute;
      width: 520px;
      height: 499px;
      top: 140px;
      right: 20%;
    }
  }
}
